.rt-is-visible-element {
  margin-top: 20px;
}

.user-list__item {
  padding: 10px;
}

.user-list{
  height: 200px;
  overflow: auto;
  border: solid;
}

.rt-is-visible-element__res {
  margin-top: 20px;
}
