.rt-components-root {
  display: flex;
  height: calc(100vh - 80px);
}

.rt-components-root__side-bar {
  width: 300px;
  border-right: solid gainsboro;
  padding: 16px 0;
}

.rt-components-root__content {
  flex: 1;
  overflow: auto;
  padding: 20px 16px;
}
