<div class="rt-query-params-router-link">
  <h2>EXAMPLE</h2>
  <h3>click on link</h3>
  <nav class="rt-query-params-router-link__container">
    <div
      class="rt-query-params-router-link__link"
      classActiveLink="rt-query-params-router-link__link_active"
      rtQueryParamsRouterLink  [linkQueryParams]="{param: 'param-1'}">
      /components/rt-query-params-router-link?param=param-1
    </div>

    <div
      class="rt-query-params-router-link__link"
      classActiveLink="rt-query-params-router-link__link_active"
      rtQueryParamsRouterLink [linkQueryParams]="{param: 'param-2'}">
      /components/rt-query-params-router-link?param=param-2
    </div>

    <div
      class="rt-query-params-router-link__link"
      classActiveLink="rt-query-params-router-link__link_active"
      rtQueryParamsRouterLink [linkQueryParams]="{param: 'param-3'}">
      /components/rt-query-params-router-link?param=param-3
    </div>
  </nav>

  <markdown mermaid clipboard [data]="readme"></markdown>
</div>
