<div class="side-bar">
  <div routerLink="./rt-skeleton" class="header__link" routerLinkActive="header__link_activate">SKELETON</div>
  <div routerLink="./rt-tab-carousel" class="header__link" routerLinkActive="header__link_activate">CAROUSEL</div>
  <div routerLink="./rt-query-params-router-link" class="header__link" routerLinkActive="header__link_activate">RT_QUERY_PARAMS_ROUTER_LINK</div>
  <div routerLink="./rt-is-visible-element" class="header__link" routerLinkActive="header__link_activate">RT_IS_VISIBLE_ELEMENT</div>
</div>
