.header__link {
  color: black;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  height: 24px;
  display: flex;
  align-items: flex-end;
  padding: 10px 0;
  border-bottom: solid 4px rgba(255, 255, 255, 0);
}

.header__link_activate {
  color: var(--primary-400);
  border-bottom: solid 4px;
}

.side-bar {
  padding: 0 6px;
}
