<div class="side-bar">
  <div routerLink="./rt-skeleton" class="header__link" routerLinkActive="header__link_activate">Skeleton</div>
  <hr>
  <div routerLink="./rt-tab-carousel" class="header__link" routerLinkActive="header__link_activate">Carousel</div>
  <hr>
  <div routerLink="./rt-query-params-router-link" class="header__link" routerLinkActive="header__link_activate">Router link (query)</div>
  <hr>
  <div routerLink="./rt-is-visible-element" class="header__link" routerLinkActive="header__link_activate">Is visible element (scroll)</div>
  <hr>
  <div routerLink="./rt-overflow-tooltip" class="header__link" routerLinkActive="header__link_activate">Overflow tooltip</div>
  <hr>
  <div routerLink="./rt-platform" class="header__link" routerLinkActive="header__link_activate">Rt platform</div>
  <hr>
  <div routerLink="./rt-auto-focus" class="header__link" routerLinkActive="header__link_activate">Rt autofocus</div>
  <hr>
  <div routerLink="./rt-define-stroke-width" class="header__link" routerLinkActive="header__link_activate">Rt define stroke width</div>
  <hr>
  <div routerLink="./rt-table-moving" class="header__link" routerLinkActive="header__link_activate">Rt table moving</div>
  <hr>
  <div routerLink="./rt-virtual-scroll" class="header__link" routerLinkActive="header__link_activate">Rt virtual scroll</div>
  <hr>
  <div routerLink="./rt-multiple-switch" class="header__link" routerLinkActive="header__link_activate">Rt multiple switch</div>
  <hr>
</div>
