.header__link {
  color: black;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  height: 24px;
  display: flex;
  align-items: flex-end;
  padding: 0 10px;
}

.header__link_activate {
  color: var(--primary-400);
}

.side-bar {
  padding: 16px 0;
}
